<h1>Lista clientes:</h1>

<table>
  <tr>
    <th>Nombre fiscal</th>
    <th>Nombre comercial</th>
    <th>Nif</th>
    <th>Direccion de entrega</th>
    <th>Direccion fiscal</th>
    <th>Cod postal</th>
    <th>Provincia</th>
    <th>Poblacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nombre_fiscal %></td>
    <td><%= cliente.nombre_comercial %></td>
    <td><%= cliente.nif %></td>
    <td><%= cliente.direccion_de_entrega %></td>
    <td><%= cliente.direccion_fiscal %></td>
    <td><%= cliente.cod_postal %></td>
    <td><%= cliente.provincia %></td>
    <td><%= cliente.poblacion %></td>
    <td><%= link_to 'Show', cliente %></td>
    <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Destroy', cliente, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cliente', new_cliente_path %>
